<section id="about-me">
    <div ng-controller="aboutMeCtrl">
		<h1>Welcome</h1>
		<hr>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div id="winwood"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <br>
                <p> My name is Sylvestre, I am a Front End Developper based in the beautiful City of New York.</p>
                <br>
                <p> I am currently working full time at <a href="http://www.openslatedata.com">OpenSlate</a> having a lot of fun
                    disrupting the advertisment industry. </p>
                <p> You'll find here a few example of what I've been working or currently work on.
                    I hope you'll enjoyed the tour!</p>
                <br>
                <p> TechBuzzWords you said? Here you go: HTML 5,CSS3, Javascript, JQuery, AngularJS, D3, GIT, Python/Django... and more to come
                    <i class="fa fa-smile-o"></i>
                </p>
                <br>
                <p>	If you feel it drop me a few lines <a href ="#/contact/"> here</a>.</p>
                <br>
                <p> Cheers, </p>
                <br>
                <p>-- Sylvestre.</p>
                <hr>
                <h3>ME, elsewhere on the web</h3>

                <div class="social-logo">
                    <a href="https://www.linkedin.com/in/sylvestregug" target="_blank"><i class="fa fa-linkedin link-in"></i></a>
                    <a href="https://github.com/Sylvestre67" target="_blank"><i class="fa fa-github github"></i></a>
                    <a href="https://twitter.com/Sly67500" target="_blank"><i class="fa fa-twitter twitter"></i></a>
                    <a href="http://open.spotify.com/user/1188688296" target="_blank"><i class="fa fa-spotify spotify"></i></a>
                </div>

                <div class="small-social-logo">
                    <div><a href="https://www.linkedin.com/in/sylvestregug" target="_blank"><i class="fa fa-linkedin link-in"></i></a></div>
                    <div><a href="https://github.com/Sylvestre67" target="_blank"><i class="fa fa-github github"></i></a></div>
                    <div><a href="https://twitter.com/Sly67500" target="_blank"><i class="fa fa-twitter twitter"></i></a></div>
                    <div><a href="http://open.spotify.com/user/1188688296" target="_blank"><i class="fa fa-spotify spotify"></i></a></div>
                </div>
            </div>

        </div>

    </div>
</section>

<script>

    $( document).ready(function(){

        var dataset = [];

         for (i=0; i<5;i++){
			 dataset.push({'first' : 1, 'second': 5, 'third': 3, 'fourth': 7, 'y' : i});
		 }

        var margin = {top: 0, right: 0, bottom: 0, left: 0},
		full_width = parseInt($('#winwood').parent().width(), 10),
		width = full_width - margin.left - margin.right,
		full_height = width*.25,
		height = full_height - margin.top - margin.bottom,
				h = height/ 4,
				w = width/ 9,
		element_padding = 40;


        var x = d3.scale.linear()
                .domain([0,4])
                .range([0,width]);

        var y = d3.scale.linear()
                .domain([0,3])
                .range([0,height]);

        var chart = d3.select('#winwood').append('svg')
            .attr('height',full_height)
            .attr('width',full_width)
                .attr()
                .append('g')
                .attr('transform','translate(' + margin.left + ',' + margin.top + ')');

        var background = chart.append('rect')
            .attr('width',width)
            .attr('height',height)
            .attr('fill','#1B223C');

		var elements = chart.selectAll('g')
			.data(dataset).enter()
				.append('g')
				.attr('class','line')
				.attr('transform',function(d,i){ return 'translate(' + 0 + ',' + y(d.y)  + ')'});

			elements.append('g')
				.attr('transform',function(d,i){ return 'translate(' + d.first * w + ',' + 0 + ')'})
					.append('path')
				.attr('d','M0 0 L0 ' + h + ' L' + w + ' -' + h +' L' + w + '-' + 2*h + ' Z')
				.attr('fill','#FD6069');

			elements.append('g')
				.attr('transform',function(d,i){ return 'translate(' + d.second * w + ',' + 0 + ')'})
						.append('path')
					.attr('d','M0 0 L0 ' + h + ' L' + w + ' -' + h +' L' + w + '-' + 2*h + ' Z')
					.attr('fill','#FD6069');

			elements.append('g')
				.attr('transform',function(d,i){ return 'translate(' + d.third * w + ',' + 0 + ')'})
					.append('path')
						.attr('d','M0' + -(2*h) + 'L0 ' + -h + ' L' + w + ' ' + h +' L' + w + ' 0 Z')
						.attr('fill','#FD6069');

			elements.append('g')
				.attr('transform',function(d,i){ return 'translate(' + d.fourth * w + ',' + 0 + ')'})
					.append('path')
						.attr('d','M0' + -(2*h) + 'L0 ' + -h + ' L' + w + ' ' + h +' L' + w + ' 0 Z')
						.attr('fill','#FD6069');

		function update(){

			var transition = chart.selectAll('.line').transition().duration(5000).ease('linear');

			debugger;

			/*transition.attr('transform', function (d,i) {
				return 'translate(' + 0 +',' + (y(i + 15)) + ')'
			});*/
		}

		function animate(){
			setTimeout(function(){
				console.log('added element');
				dataset.push({'first' : 1, 'second': 5, 'third': 3, 'fourth': 7, 'y': 0})
				update();
				animate();
			}, 500);
		}

		animate();

    })

</script>