<section id="about-me">
    <div ng-controller="aboutMeCtrl">
		<h1>Welcome</h1>
		<hr>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div id="winwood"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <br>
                <p> My name is Sylvestre, I am a Front End Developper based in the beautiful City of New York.</p>
                <br>
                <p> I am currently working full time at <a href="http://www.openslatedata.com">OpenSlate</a> having a lot of fun
                    disrupting the advertisment industry. </p>
                <p> You'll find here a few example of what I've been working or currently work on.
                    I hope you'll enjoyed the tour!</p>
                <br>
                <p> TechBuzzWords you said? Here you go: HTML 5,CSS3, Javascript, JQuery, AngularJS, D3, GIT, Python/Django... and more to come
                    <i class="fa fa-smile-o"></i>
                </p>
                <br>
                <p>	If you feel it drop me a few lines <a href ="#/contact/"> here</a>.</p>
                <br>
                <p> Cheers, </p>
                <br>
                <p>-- Sylvestre.</p>
                <hr>
                <h3>ME, elsewhere on the web</h3>

                <div class="social-logo">
                    <a href="https://www.linkedin.com/in/sylvestregug" target="_blank"><i class="fa fa-linkedin link-in"></i></a>
                    <a href="https://github.com/Sylvestre67" target="_blank"><i class="fa fa-github github"></i></a>
                    <a href="https://twitter.com/Sly67500" target="_blank"><i class="fa fa-twitter twitter"></i></a>
                    <a href="http://open.spotify.com/user/1188688296" target="_blank"><i class="fa fa-spotify spotify"></i></a>
                </div>

                <div class="small-social-logo">
                    <div><a href="https://www.linkedin.com/in/sylvestregug" target="_blank"><i class="fa fa-linkedin link-in"></i></a></div>
                    <div><a href="https://github.com/Sylvestre67" target="_blank"><i class="fa fa-github github"></i></a></div>
                    <div><a href="https://twitter.com/Sly67500" target="_blank"><i class="fa fa-twitter twitter"></i></a></div>
                    <div><a href="http://open.spotify.com/user/1188688296" target="_blank"><i class="fa fa-spotify spotify"></i></a></div>
                </div>
            </div>

        </div>

    </div>
</section>

<script>

    $( document).ready(function(){

        var dataset = [];

        for (j=0;j < 20;j++){
            for (i=0; i<20;i++){
                dataset.push({'x_value' : j, 'y_value':i});
            }
        }

        var margin = {top: 0, right: 0, bottom: 0, left: 0},
		full_width = parseInt($('#winwood').parent().width(), 10),
		width = full_width - margin.left - margin.right,
		full_height = width*.25,
		height = full_height - margin.top - margin.bottom,
				h = height/ 4,
				w = width/ 9,
		element_padding = 40;


        var x = d3.scale.linear()
                .domain([0,4])
                .range([0,width]);

        var y = d3.scale.linear()
                .domain([8,11])
                .range([0,height]);

        var chart = d3.select('#winwood').append('svg')
            .attr('height',full_height)
            .attr('width',full_width)
                .attr()
                .append('g')
                .attr('transform','translate(' + margin.left + ',' + margin.top + ')');

        var background = chart.append('rect')
            .attr('width',width)
            .attr('height',height)
            .attr('fill','#1B223C');

        var elements1 = chart.append('g')
                .attr('class','elements1')
            .attr('transform','translate(' + (w) + ',-50)');

			elements1.append('path')
				.attr('d','M0 0 L0 ' + h + ' L' + w + ' -' + h +' L' + w + '-' + 2*h + ' Z')
				.attr('fill','#FD6069');

		var elements2 = chart.append('g')
                .attr('class','elements2')
            .attr('transform','translate(' + (5*w) + ',-50)');

			elements2.append('path')
				.attr('d','M0 0 L0 ' + h + ' L' + w + ' -' + h +' L' + w + '-' + 2*h + ' Z')
				.attr('fill','#FD6069');

		var elements3 = chart.append('g')
                .attr('class','elements3')
            .attr('transform','translate(' + (3*w) + ',-50)');

			elements3.append('path')
				.attr('d','M0' + -(2*h) + 'L0 ' + -h + ' L' + w + ' ' + h +' L' + w + ' 0 Z')
				.attr('fill','#FD6069');

		var elements4 = chart.append('g')
                .attr('class','elements4')
            .attr('transform','translate(' + (7*w) + ',-50)');

			elements4.append('path')
				.attr('d','M0' + -(2*h) + 'L0 ' + -h + ' L' + w + ' ' + h +' L' + w + ' 0 Z')
				.attr('fill','#FD6069');

			var transition = chart.selectAll('path').transition().duration(5000).ease('linear');

			transition.attr('transform', function (d, i) {
                return 'translate(' + 0 +',' + 3*height + ')'
            });

			var index = 1;
			var time_delay = (h + 4)*5000/(3*height);

			function add_element_1(i){
				var id = 'path_' + i;

				elements1.append('path')
						.attr('id',id)
					.attr('d','M0 0 L0 ' + h + ' L' + w + ' -' + h +' L' + w + '-' + 2*h + ' Z')
					.attr('fill','#FD6069');

				elements2.append('path')
						.attr('id',id)
					.attr('d','M0 0 L0 ' + h + ' L' + w + ' -' + h +' L' + w + '-' + 2*h + ' Z')
					.attr('fill','#FD6069');

				elements3.append('path')
						.attr('id',id)
					.attr('d','M0' + -(2*h) + 'L0 ' + -h + ' L' + w + ' ' + h +' L' + w + ' 0 Z')
					.attr('fill','#FD6069');

				elements4.append('path')
						.attr('id',id)
					.attr('d','M0' + -(2*h) + 'L0 ' + -h + ' L' + w + ' ' + h +' L' + w + ' 0 Z')
					.attr('fill','#FD6069');

				var transition = chart.selectAll('#' + id).transition().duration(5000).ease('linear');

				transition.attr('transform', function (d, i) {
					return 'translate(' + 0 +',' + 3*height + ')'
				});
			}


			function add_element(index, time_delay){
				setTimeout(function(){
					console.log('added element');
					add_element_1(index);
					index += 1;
					add_element(index,time_delay);
				}, time_delay);
			}



		add_element(index,time_delay);


    })

</script>