<section id="my-blog">
	<div ng-controller="blogListCtrl" class="row">
		<div class="col-xs-12">
            <div class="ajax-spinning" ng-show="loading">
            </div>
			<h1>Blog</h1>
			<hr>
			<ul class="blog-post-list list-unstyled">
				<li ng-repeat="post in blog_posts">
					<h1><a href="/blogs/{{ post.fields.slug }}">{{ post.fields.title }}</a></h1>
					<p>{{ post.fields.excerpt }}</p>
					<p class="small"><em>{{ post.fields.created_on | date:'mediumDate' }}</em></p>
                    <hr>
				</li>
			</ul>
		</div>
	</div>
</section>

