<section id="my-portfolio">
	<div ng-controller="pfolioListCtrl" class="row">
		<div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ajax-spinning" ng-show="loading">
            </div>
			<h1>Some of my recent work</h1>
			<hr>
            <div ng-repeat="post in portfolio_posts" class="row" >
                <div class="col-xs-12 col-sm-3">
                    <a href="/#/pfolio/{{ post.fields.slug }}">
                        <img ng-show="chekIfImage(post)" src="{{ static_url }}{{ post.fields.image }}" class="img-responsive">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <h3><a href="/#/pfolio/{{ post.fields.slug }}">{{ post.fields.title }}</a></h3>
                    <p>{{ post.fields.excerpt }}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>